<div *ngIf="_isLoggedIn">
  <form class="control-group">
    <div class="form-group">
      <label for="comment">Add an Item</label>
      <input name="comment" type="text" (change)="addComment($event)">
    </div>
    <button class="btn btn-primary">Add Item</button>
  </form>

  <hr>
  <!-- Code commented out below will retreive all comments -->
  <!-- <div *ngFor="let comment of comments | async">
      <p>{{comment.comment}}<br>Posted by: {{comment.name}}</p>
      <button (click)="delete(comment.id)">Delete</button>
  </div> -->
  
  
    <h2>{{currentUser.name}}'s To Do List</h2>
    <!-- Add an ngIf for edit mode -->
    <div *ngFor="let comment of comments | async">
      <div class="item" *ngIf="comment.userId === currentUser.id">
          <div *ngIf="!comment.edit" class="comment-container">
            <p class="comment-paragraph">{{comment.comment}}</p>
            <p>Posted by: {{comment.name}} on {{comment.date}}</p>
            <div class="button-container">  
              <button class="btn btn-primary edit" (click)="toggleEditView(comment)">Edit</button>
              <button class="btn btn-danger" (click)="delete(comment.id)">Delete</button>
          </div>
        </div>
        <!-- Markup below displayed when you toggle edit view -->
        <div *ngIf="comment.edit">
            <label for="To Do Item">Edit To Do</label>
            <input class="todo-edit-input" type="text">
            <button class="btn save" (click)="saveItemChanges(comment)">Save</button>
            <button class="btn save" (click)="toggleEditView(comment)">Cancel</button>
          </div>  
      </div>
    </div>
  </div>
  <p *ngIf="!_isLoggedIn"><b>Sign in to view your To Do List!</b></p>
