h2 {
    margin-top: 20px;
}

p {
    margin: 5px;
}

div.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input {
    width: 50%;
    margin: 0 auto;
}

.comment-paragraph {
    font-size: 20px;
    margin-bottom: 0px;
}

.btn-danger {
    margin: 0px;
    height: 20px;
    width: 70px;
    padding: 1px;
    margin-bottom: 10px;
}
.btn-danger:hover {
    margin: 0px;
}

.item {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    max-width: 600px;
    
}

hr.item-divider {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}