<p *ngIf="!_isLoggedIn"><b>Sign in to view your To Do List!</b></p>

<div *ngIf="_isLoggedIn">
  <form class="control-group">
    <div class="form-group">
      <label for="comment">Add an Item</label>
      <input name="comment" type="text" (change)="addComment($event)">
    </div>
    <button class="btn btn-primary">Add Item</button>
  </form>

  <hr>

  <!-- Incomplete To Do Items display here -->
    <h2>{{currentUser.name}}'s To Do List</h2>
    <!-- Add an ngIf for edit mode -->
    <div *ngFor="let comment of comments | async">
      <div class="item" *ngIf="comment.userId === currentUser.id && comment.complete === false">
          <div *ngIf="!comment.edit" class="comment-container">
            <p class="comment-paragraph">{{comment.comment}}</p>
            <p>Posted by: {{comment.name}} on {{comment.date}}</p>
            <!-- <p>Complete: {{comment.complete}}</p> -->
            <hr>
            <div class="button-container">
              <button class="btn btn-success" (click)="toggleComplete(comment)">Complete</button> 
              <button class="btn btn-primary edit" (click)="toggleEditView(comment)">Edit</button>
              <button class="btn btn-danger" (click)="delete(comment.id)">Delete</button>
          </div>
        </div>
        <!-- Markup below displayed when you toggle edit view -->
        <div *ngIf="comment.edit">
              <label for="To Do Item">Edit To Do</label>
              <p><b>Current:</b> {{comment.comment}}</p>
              <input #todoText class="todo-edit-input" type="text" value="{{comment.comment}}" (keydown.enter)="saveItemChanges(comment, todoText)">
              <!-- <textarea name="input" cols="50" rows="10" value="{{comment.comment}}"></textarea> -->
              <button type="submit" class="btn save" (click)="saveItemChanges(comment, todoText)">Save</button>
              <button class="btn save" (click)="toggleEditView(comment)">Cancel</button>

          </div>  
      </div>
    </div><!--ngFor ends here-->

    <!-- Completed items display here -->
    <h2>Completed</h2>
    <div *ngFor="let comment of comments | async">
        <div class="item" *ngIf="comment.userId === currentUser.id && comment.complete === true">
            <div *ngIf="!comment.edit" class="comment-container completed">
              <p class="comment-paragraph">{{comment.comment}}</p>
              <p>Posted by: {{comment.name}} on {{comment.date}}</p>
              <!-- <p>Complete: {{comment.complete}}</p> -->
              <hr>
              <div class="button-container complete-btns">
                <button class="btn btn-success undo-complete" (click)="toggleComplete(comment)">Undo</button> 
                <button class="btn btn-danger delete-complete" (click)="delete(comment.id)">Delete</button>
            </div>
          </div>
        </div>
  </div>
