<section>
  <h2>Sign into your account</h2>
  <form *ngIf="!_isLoggedIn" #signForm class="sign-in-form" (submit)="signIn(username, pw)">
    <p>Sign in Form</p>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input #username type="text" class="form-control" name="email">
      <small class="form-text text-muted">Enter the email address you used to register!</small>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input #pw type="text" class="form-control" name="password">
    </div>
    <button class="btn btn-primary">Sign in!</button>
  </form>
</section>
