
<section>
    <h2>Sign into your account</h2>
    <form *ngIf="!_isLoggedIn" #signForm class="sign-in-form" (submit)="signIn(signForm, username, pw)">
    <label for="email">Email Address</label>
    <input #username type="text" name="email">
    <label for="password">Password</label>
    <input #pw type="text" name="password">
    <button>Sign in!</button>
    </form>
</section>

<section>
    <h2>Don't have an account? Create one here!</h2>
    <form class="register-form" #form (submit)="registerUser(email, password, $event)">
    <p><b>Account Registration Form</b></p>
    <label for="email">Email Address</label>
    <input #email type="text" name="email">
    <label for="password">Password</label>
    <input #password type="text" name="password">
    <button>Submit</button>
    </form>
</section>

